<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <header class="header">
    <h1 class="header__title">
      Night City Food
    </h1>

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
        <li class="nav__item"><a href="#">About</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <h1 class="hero__title">Explore your food fantasy</h1>
    <p class="hero__tagline">Be a lucky person who try our amazing food world</p>
  </div>

  <main>
    <section class="content">
      <div class="restos">
        <h1 class="restos__label">Available Restos</h1>
        <div class="posts">
          <!-- filled by js -->
        </div>
      </div>
    </section>
  </main>

  <footer>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </footer>
</body>
</html>
