<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.png">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Skip to Content</a>
  <header class="header">
    <h1 class="header__title">
      Night City Food
    </h1>

    <a id="menu" class="header__menu" href="#">☰</a>

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="index.html">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/fitra-fep-417049199/">About Us</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <h1 class="hero__title">Explore your food fantasy</h1>
    <p class="hero__tagline">Be a lucky person who try our amazing food world</p>
  </div>

  <main>
    <section class="content">
      <div class="restos">
        <h1 class="restos__label">Available Restos</h1>
        <div class="posts" id="maincontent" tabindex="0">
          <!-- filled by js -->
        </div>
      </div>
    </section>
  </main>

  <footer>
    <ul class="nav__list">
      <li class="nav__item"><a href="index.html">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/fitra-fep-417049199/">About Us</a></li>
    </ul>
    <p>Copyright © 2022 - Night City Food</p>
  </footer>
</body>
</html>
