body {
  .content {
    .restos {
      @media screen and (min-width:1440px){
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
@media screen and (min-width:1440px){
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}
