#menu{
  display: none;
  color: white;
}

// @media screen and (max-width: 1700px) {
//   
// }

// @media screen and (max-width: 1200px) {
// }

// @media screen and (max-width: 1000px) {
// }

@media screen and (max-width: 600px) {
  .header{
    grid-template-columns: 1fr;

    .header__title{
      margin: 10px auto;
      text-align: center;
      padding: 0;
    }
    #drawer {
      display: inline-block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.61);
      top: 120px;
      backdrop-filter: blur(10px);
      // width: 10rem;
      transform: translate(-250px, 0);
      transition: transform 0.3s ease-in-out;
      

      &.open {
        transform: translate(0, 0);
      }

      ul {
        list-style: none;
        display: inline-block;

        li {
          margin: 20px auto;
        }
      }
    }

    #menu {
      display: inline-block;
      margin: 10px auto;
    }
  }
}

