#menu{
  display: none;
  color: white;
}

@media screen and (max-width: 600px) {
  .header{
    grid-template-columns: 1fr;

    .header__title{
      margin: 10px auto;
      text-align: center;
      padding: 0;
    }
    #drawer {
      display: inline-block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.61);
      top: 120px;
      backdrop-filter: blur(10px);
      // width: 10rem;
      transform: translate(-250px, 0);
      transition: transform 0.3s ease-in-out;
      

      &.open {
        transform: translate(0, 0);
      }

      ul {
        list-style: none;
        display: block;
        padding-left: 1rem;
        li {
          height: 44px;
          a {
            height: 44px;
            border: 1px solid red;
          }
        }
      }
    }

    #menu {
      display: inline;
      text-align: center;
      margin: 10px auto;
    }
  }
}

