@media screen and (max-width: 1000px) {
  .detail-content {
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 512px) {
  #menus {
    display: grid;
    grid-template-columns: 1fr;
  }
}
