@use 'reset';
@use 'media/content';

body{
  background-color: black;

  .skip-link {
    // border: 1px solid red;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  .content {
    font-family: 'Open Sans', sans-serif;

    .restos {
      .restos__label {
        font-size: 1.5rem;
        text-align: center;
        color: white;
        padding: 1.5rem;
      }

      .posts {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .post-item {
          color: #ffffff;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          border: 1px solid #ccc;
          height: 30rem;

          .post-item__thumbnail {
            width: 100%;
            height: 13rem;
            object-fit: fill;
            margin-bottom: 1rem;
            object-fit: cover;
          }

          .resto__title {
            font-size: 1.3rem;
            padding-left: 1rem;
          }

          .resto__rating {
            font-size: 0.8rem;
            padding-left: 1rem;
            padding-top: 0.5rem;
          }

          .resto__desc {
            padding: 1rem;
            text-align: justify;
            font-size: 0.9rem;
            line-height: 1.3;
            display: -webkit-box;
            -webkit-line-clamp: 8; -webkit-box-orient: vertical;
            overflow: hidden;
          }
          &:hover{
            // transform: scale(1.05);
            box-shadow: 0px 0px 10px;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
