@use 'reset';
@use 'media/content';

/*test*/

body{
  background-color: black;

  .skip-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  .content {
    font-family: 'Open Sans', sans-serif;

    .restos {
      .restos__label {
        font-size: 1.5rem;
        text-align: center;
        color: white;
        padding: 1.5rem;
      }

      .posts {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .post-item {
          color: #ffffff;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          height: 19rem;
          border-radius: 10px;

          .post-item__thumbnail {
            width: 100%;
            height: 13rem;
            object-fit: fill;
            margin-bottom: 1rem;
            object-fit: cover;
            border-radius: 10px;
          }

          .resto__title {
            font-size: 1.3rem;
            padding-left: 1rem;
          }

          a {
            color: white;
            text-decoration: none;
            padding: 0;
          }

          .resto__rating {
            font-size: 0.8rem;
            padding-left: 1rem;
            padding-top: 0.5rem;
          }

          &:hover{
            box-shadow: 0px 0px 5px;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
