@use 'reset';

.desc-item__title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.7rem;
  padding-top: 2rem;
}

.detail-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  padding: 1rem 2rem;
  font-family: 'Open Sans', sans-serif;
  
  .detail-card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #desc-item {
    .desc-item__title {
      color: white;
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem 0;
    }

    .desc-item__thumbnail {
      position: relative;

      .desc-item__thumbnail-image {
        border-radius: 10px;
        width: 100%;
      }

      .desc-item__rating {
        padding: 10px;
        color: white;
        position: absolute;
        z-index: 1;
        bottom: 30px;
        background-color: black;
        padding: 15px;
      }
    }

    .desc-item__info {
      color: white;
      padding-top: 10px;
      letter-spacing: 1px;
      font-size: 1rem;
      font-weight: bold;
    }

    .desc-item__info-value {
      color: white;
      padding: 10px;
    }

    .desc-item__desc {
      color: white;
      padding: 20px 0;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.3rem;
    }
  }

  #menus {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .menu__item {
      display: flex;
      flex-direction: row;

      .menu__food-thumbnail {
        min-height: 60px;
        min-width: 60px;
        margin: 10px;
        border-radius: 10px;

        background-image: url(../public/images/heros/hero-image_2.jpg);
        background-size: cover;
      }

      .menu__drink-thumbnail {
        min-height: 60px;
        min-width: 60px;
        margin: 10px;
        border-radius: 10px;

        background-image: url(../public/images/heros/hero-image_1.jpg);
        background-size: cover;
      }

      .menu__name {
        color: white;
        border-radius: 1px solid red;
        padding: 1rem;
        margin: auto 0;
      }
    }
  }

  #add-review {

    .review__form {
      display: grid;
      grid-template-columns: 1fr;
      width: 80%;
      margin: auto;
      row-gap: 10px;

      .review__body {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;

        .review__input {
          background-color: black;
          box-sizing: border-box;
          border-radius: 10px;
          font-size: 1.1rem;
          border: 1px solid white;
          padding: 20px;
          resize: none;
        }

        #input__review__name {
          color: white;
        }

        #input__review__data {
          color: white;
        }
      }

      .add__review__button {
        border-radius: 10px;
        font-size: 1.1rem;
        background-color: #DB0000;
        color: white;
        padding: 12px;
        border: 0;
      }
    }
  }

  #reviews {
    .reviews__item {
      color: white;
      padding: 1rem;

      .reviews__name {
        font-size: 1.3rem;
        font-weight: bold;
      }

      .reviews__date {
        font-size: 0.8rem;
        padding: 10px 0;
      }
      .reviews__review {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.3rem;
      }
    }
  }
}
