@use 'reset';
@use 'media/footer';

footer {
  height: 5rem;
  margin-top: 2rem;
  font-family: 'Open Sans', cursive;
  display: grid;
  grid-template-columns: 1fr;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin: 1rem;
      a {
        text-decoration: none;
        color: #ffffff;
        transform: all 0.2s;

        &:hover {
          color: #cccccc;
        }
      }
    }
  }
  p {
    color: white;
    margin: auto;
    padding: 1rem;
  }
}
