@use 'reset';
@use 'media/header';

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  color: #ffffff;
  font-family: 'Open Sans', cursive;
  min-height: 80px;

  .header__title {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-right: 2rem;

  .nav__list {
    display: flex;
    list-style: none;

    .nav__item {
      margin-left: 1rem;
      a {
        height: 44px;
        width: 44px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
          color: #cccccc;
        }
      }
    }
  }
}
