@use 'reset';
@use 'media/header';

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  color: #ffffff;
  font-family: 'Open Sans', cursive;
  min-height: 80px;
  // transition: min-height 0.3s;

  .header__title {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;

  .nav__list {
    display: flex;
    list-style: none;

    .nav__item {
      margin-left: 1rem;
      a {
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
          color: #cccccc;
        }
      }
    }
  }
}

// #drawer {
//   position: absolute;
//   transform: translate(-250px, 0);
//   transition: transform 0.3s ease-in-out;
//   // background-color: black;

//   &.open {
//     transform: translate(0,0);
//   }

//   ul {
//     list-style-type: none;
//     padding: 0, 16px;
//   
//     li {
//       padding: 5px, 0px;

//       a {
//         text-decoration: none;
//         font-size: 2rem;
//         color: white;
//       }
//     }
//   }
// }
