@use 'reset';
@use 'media/hero';

.hero {
  background-image: url(../public/images/heros/hero-image_3-large.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  min-height: 500px;
  width: 100%;
  margin: auto;

  .hero__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px #000000;
  }

  .hero__tagline {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-shadow: 2px 2px #000000;
  }
}
